*.[ao]
*.l[ao]
*~
.deps
.libs
intl
bin
m4
autom4te.cache
*.pc
Makefile
Makefile.in
config.*
configure
*.doxy
ABOUT-NLS
COPYING
ygp-cfg.h
stamp-h1
install-sh
missing
depcomp
libtool
ltmain.sh
aclocal.m4
*-po
*.sed
*.sin
*.pot
*.gmo
*.header
YGP/Tests/*.log
YGP/Tests/*.trs
